<div id="checkout" data-hook>
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>
  <h3><%= t(:checkout) %></h3>  
  <div class="row">
    <div class="">
      <div class="clear"></div>
      <div class="checkout_form">
        <%= form_tag @payment_method.url do %>
        <%
          request_params = request_params(@payment_method,@order)
          redirect_url    = gateway_ipay88_callback_url(@transaction, :protocol => request.protocol)
        %>

          <div style="padding:10px;background-color:#fcf8e3">
          <p style= "color:red"> * Mandatory Fields</p>
  
          <%= hidden_field_tag 'MerchantCode',                     request_params['MerchantCode'] %>
          <%= hidden_field_tag 'RefNo',                  request_params['RefNo'] %>
          <%= hidden_field_tag 'Amount',                  request_params['Amount'] %>
          <%= hidden_field_tag 'Currency',                   request_params['Currency'] %>
          <%= hidden_field_tag 'ProdDesc',                   request_params['ProdDesc'] %>
          <%= text_field_tag 'UserName',                   request_params['UserName'],required:true, placeholder:'Your name' %>
          <%= email_field_tag 'UserEmail',                   request_params['UserEmail'],required:true, placeholder:'Email' %>
          <%= telephone_field_tag 'UserContact',                   request_params['UserContact'],required:true,placeholder:"Contact Number" %>
          <%= hidden_field_tag 'Remark',                   request_params['Remark'] %>
          <%= hidden_field_tag 'Signature',                   request_params['Signature'] %>
          <%= hidden_field_tag 'ResponseURL',                   redirect_url %>

          </div>

          <%= render :partial => 'spree/checkout/confirm' %>
          <p style="margin: 10px 0;"><%= t(:ipay88_instructional_text) %></p><br/>
        <% end %>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
